.project-main-div {
  color: aliceblue;
  display: flex;
  justify-content: center;
  gap: 1%;
}
.gradient-color {
  background: linear-gradient(90deg, #4a77b3, #8b4ed2); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.writing-div{
    color: #FFFFFF;
    text-align: center;
    opacity: 80%;
}
/* 📱 Mobile screens */
@media (max-width: 600px) {
  .project-main-div h1 {
    font-size: 2rem;
  }
  .writing-div {
    font-size: 1rem;
    padding: 0 1rem;
    margin-bottom: 8%;
  }
}

/* 📱 Tablet screens */
@media (min-width: 601px) and (max-width: 1024px) {
  .project-main-div h1 {
    font-size: 2.5rem;
  }
  .writing-div {
    font-size: 1.1rem;
    padding: 0 2rem;
  }
}

/* 💻 Large screens */
@media (min-width: 1440px) {
  .project-main-div h1 {
    font-size: 4rem;
  }
  .writing-div {
    font-size: 1.3rem;
  }
}