body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #0b111d, #090c18);
  animation: slideInLeft 0.8s ease-out 0.2s both;
}
.maindiv {
  /* background: linear-gradient(to bottom, #0b111d, #090c18, #000000); */
}
.carousalDiv {
  margin-top: 1%;
  display: flex;
  animation: slideInLeft 0.8s ease-out 0.2s both;
  flex-direction: row;
  gap: 3%;
  justify-content: center;
  padding: 1% 8%;
}
